{%extends "layout.html" %}
{% block sub_content %}
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #555555;} /* Green */
</style>

<center>
<button class="button button1" onclick="window.location.href='/product0251'">Demand Analysis</button>
<button class="button button1" onclick="window.location.href='/product0251_add'">Add Demand</button>
</center>
      
{% endblock %}    
